# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/
env/
dump.rdb
notifyx.log
# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
